.accordion-button {
    color: #000000;
    background-color: #d4d4d4;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-body {
    color: #000000;
    background-color: #c3c3c3;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}